{% extends 'base.html' %}

{% block title %}Blog list{% endblock %}

{% block content %}
    {% for blog in blogs %}
    <div class="blog">
        <h2><a href="#">{{ blog.title }}</a></h2>
        <p class="text-right">{{ blog.author }}</p>
        {%  if request.user not in blog.subscribers.all  %}
            <button class="btn btn-success">Subscribe</button>
        {% else %}
            <button class="btn btn-warning">Unsubscribe</button>
        {% endif %}
    </div>
    <hr>
    {% endfor %}
{% endblock %}