{% extends 'base.html' %}

{% block title %}Post list{% endblock %}

{% block content %}
    {% for post in posts %}
        {%  if request.user in post.blog.subscribers.all  %}
        <div class="post">
            <h2><a href="#">{{ post.title }}</a></h2>
            <p>{{ post.description }}</p>
            <p class="text-right">{{ post.time }}</p>
            <p class="text-right">{{ post.blog }}</p>
            <hr>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}